
.fotrow
{
   display: grid;
    grid-template-columns: auto auto; 
}

  .footer1{
      
    width: 100%;
  height: fit-content;
  position:'absolute';
  bottom:1;
  width:100%;
      background-color: #352315;
      
  }
  
  
  